.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}
.Button-design{
  background-color:black; 
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 12px;
    width: 8%
}
.App-Link {
  background-color: #222;
  height: 10px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.active{
  color: red;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
