body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.imageDisplay{
  border-radius: 8px;
  border: 3px solid black;
  margin-left:40%;
  margin-top:5%;
}

.Button-design{
  background-color:black; 
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 12px;
    width: 10%
}

.container{
  margin-top: 4%;
  margin-left: 30%
}

.Input-data{
  width: 40%;
  height: 20%;
  padding-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 2%
  }
  